.related__container {
  padding: 24px;
  background: #1f1f1f;
  border-radius: 8px;
  margin-bottom: 24px;
}

.related__title {
  font-size: 20px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.85);
  margin-bottom: 26px;
}
.related__list {
  display: flex;
  flex-direction: column;
}

.related__item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.related__img {
  border: 1px solid rgba(255, 255, 255, 0.12);
  box-sizing: border-box;
  border-radius: 8px;
  width: 80px;
  height: 120px;
  object-fit: cover;
  cursor: pointer;
}
.related__item-content {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}
.related__item-content-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.related__item-content-rank {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #844cff;
  display: flex;
  align-items: center;
}
.related__item-content-info {
  font-size: 14px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.45);
}
